.container-xxl {
    max-width: 100% !important;
}
.bd-layout {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 0.9fr 5fr;
    transition: 0.5s ease;
}

.bd-gutter {
    --bs-gutter-x: 0 !important;
}

.bd-sidebar {
    grid-area: sidebar;
}

.bd-main {
    grid-area: main;
}

.bd-sidebar {
    position: fixed;
    z-index: 1;
    height: calc(100vh - 56px);
}

.bg-gradient-primary {
    background-color: #6e2cf3 !important;
    background-image: linear-gradient(
        180deg,
        #6632ce 10%,
        #6e2cf3 100%
    ) !important;
    background-size: cover;
}

.sidebar-divider {
    border-top: 1px solid #fff !important;
}
