a {
    text-decoration: none !important;
}

.navbar-header {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.user-title {
    color: #495057;
}

.sidebar {
    background: #652bd9 !important;
}

.divider {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 1rem 1rem;
}

.logout-button {
    cursor: pointer;
}
