.alert-danger .close {
    font-size: 0.875rem;
    line-height: inherit;
}

#year_id {
    cursor: pointer;
}

.select2 {
    width: 100% !important;
}

.select2-container {
    display: block !important;
    padding: 6.5px 16px;
    /* padding: 0.6rem 1rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid #dfe5ef;
    border-radius: 7px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-selection--single {
    height: 21px !important;
    border: none !important;
}

.select2-selection__rendered {
    font-size: 0.875rem;
    line-height: 21px !important;
    padding: 0 !important;
    color: #5a6a85 !important;
}

.select2-selection__placeholder {
    font-size: 0.875rem;
    color: #5a6a85 !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    display: none !important;
}

.select2-selection__arrow {
    /* top: 0 !important;
    right: 0 !important;
    width: 100% !important;
    height: 100% !important;
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-image: var(--bs-form-select-bg-img),
        var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px 9px; */
}

.dropdown-toggle::after {
    display: none;
}

.modal-footer {
    gap: 1rem;
    margin-top: 1rem;
}
