@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
:root {
    --bg-color: #eeeefa;
}

body {
    background-color: var(--bg-color) !important;
}

.login-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.login-header h1 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    padding: 2rem 1rem;
    background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.6) 34.5%,
            rgba(0, 0, 0, 0) 100%
        ),
        url(../assets/bg-navbar.jpg), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center center;
}

.login-body {
    padding: 2rem 1rem;
}

form input {
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #f0e9fe;
}

button {
    font-size: 1rem;
    padding: 10px 0px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: #6e2cf3;
}
