@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Menghilangkan scrollbar */
::-webkit-scrollbar {
    display: none; /* Untuk browser berbasis WebKit seperti Chrome, Safari */
}

:root {
    --primary-color: #6e2cf3;
    --bg-color: #eeeefa;
    --first-color: #f0e9fe;
    --second-color: rgba(151, 71, 255, 0.05);
    --third-color: #f0e9fe54;
    --white-color: #ffffff;
    --black-color: #212529;
}

body {
    margin: 0;
    background-color: var(--bg-color) !important;
}

.section {
    padding: 5rem 0 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none; /* Menghilangkan gaya titik */
}

/* Opsional: Mengatur margin dan padding ul dan li */
ul,
li {
    margin: 0;
    padding: 0;
}

.navbar {
    background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.6) 34.5%,
            rgba(0, 0, 0, 0) 100%
        ),
        url(../assets/bg-navbar.jpg), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center center;
}

.mycontainer {
    padding-top: 32px;
    padding-bottom: 32px;
}

.mycontainer h1 {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 32px;
    font-weight: 800;
}

.mycontainer p {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

.bd-layout {
    margin-top: 2rem;
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 5fr;
    gap: 1.5rem;
    transition: 0.5s ease;
}

.bd-gutter {
    --bs-gutter-x: 3rem;
}

.bd-sidebar {
    grid-area: sidebar;
}

.bd-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    z-index: 1000;
    height: calc(100vh - 56px);
    overflow-y: auto;
}

.offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 32px;
    border-radius: 5px;
    overflow-y: visible;
    background-color: var(--white-color);
}

.bd-main {
    grid-area: main;
}

.navigation-wrapper {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 14px;
    margin-bottom: 8px;
    background-color: var(--primary-color);
}

.search-btn {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    color: var(--black-color);
    border-radius: 5px;
    padding: 10px 14px;
    margin-bottom: 8px;
    background-color: var(--first-color);
}

.introduction {
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    padding: 10px 14px;
    margin-bottom: 8px;
    background-color: var(--first-color);
}

.navigation-wrapper h5 {
    font-size: 0.9rem;
    color: var(--white-color);
    margin-bottom: 0;
}

.introduction h5 {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 0;
}

.navigation-wrapper i {
    color: var(--white-color);
    cursor: pointer;
}

.accordion-item {
    border: none;
}

.accordion-body {
    padding: 8px 0;
}

.accordion-item {
    color: var(--black-color);
    background-color: var(--white-color);
}

.accordion-button {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 5px;
    color: var(--black-color);
    background-color: var(--white-color);
}

.accordion-button:hover {
    color: var(--primary-color);
}

.btn-parent.collapsed {
    background-color: var(--third-color);
    margin-bottom: 8px;
}

.accordion-button:not(.collapsed) {
    color: var(--primary-color);
    background-color: var(--first-color);
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.item-child {
    background-color: var(--second-color) !important;
    margin-bottom: 8px;
    border-radius: 8px;
}

.item-child.none {
    display: none;
}

.btn-child:not(.collapsed) {
    background-color: var(--second-color);
}

.btn-child {
    padding: 10px 16px 10px 20px;
}

.body-child {
    padding: 10px 0px 10px 28px;
}

.body-child ul {
    padding: 10px 16px 10px 0px;
}

.body-child a {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    color: var(--black-color);
    font-weight: 600;
}

.body-child a:hover {
    color: var(--primary-color);
}

.body-child a.link.active {
    color: var(--primary-color);
}

#iframe-header,
#iframe-text {
    font-family: "Montserrat", sans-serif;
}

#iframe-header {
    font-size: 3rem;
}

#iframe-text {
    margin-bottom: 1rem;
}

footer {
    background: var(--primary-color);
    margin-top: 3rem;
}

.footer-wrapper h1 {
    font-size: 1rem;
    color: var(--white-color);
    margin-bottom: 0;
    padding: 10px 64px;
}

/* Modal  */
.search-box {
    font-family: "Montserrat", sans-serif;
    background-color: var(--white-color);
    border-radius: 5px;
}

.search-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    background: transparent;
    color: var(--black-color);
}

.search-input::placeholder {
    color: #555;
    font-weight: 500;
}

.result-box {
    max-height: 400px;
    overflow-y: scroll;
}

.result-box ul li {
    list-style: none;
    font-weight: 500;
    padding: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
}

.result-box ul li:hover {
    cursor: pointer;
    background-color: var(--first-color);
}

.groupYear {
    position: sticky;
    top: 0;
    font-weight: 600;
    padding: 10px 5px;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.select2 {
    width: 100% !important;
}

.select2-container {
    display: block !important;
}
/* .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0, 5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    font-family: "Montserrat", sans-serif;
    background-color: var(--white-color);
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
} */

/* Interactive css */
.bd-layout-responsive {
    grid-template-columns: 0.5fr 5.5fr;
}

.accordion-responsive {
    display: none;
}

.nav-wrapper-responsive {
    padding: 10px;
}

.nav-title-responsive {
    display: none;
}

.searchBtn-responsive {
    padding: 10px 10px;
}

.search-title-responsive {
    display: none;
}

.intro-responsive {
    display: none;
}
